.register__login-link {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    opacity: 1;
    transition: opacity .2s linear;
    color: #fff;
    padding: 0;
    background-color: transparent;
}

.register__login-link:hover {
    opacity: .6;
    cursor: pointer;
}